body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #aad3fc; /* Updated background color */
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#table-container {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #e0e0e0; /* Updated hover color */
}

th {
    background-color: #d3d3d3; /* Updated header background color */
    color: black;
}

input[type="checkbox"] {
    margin-bottom: 10px;
}

.page-button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    margin: 4px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.page-button:hover {
    background-color: #45a049;
}

#pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#delete-selected {
    background-color: #f98181; /* Updated delete button color */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#delete-selected:hover {
    background-color: #f98181; /* Updated delete button hover color */
}

